@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-02 {
    height: 128px;
    .c-wrapper{
      margin: 0 auto;

      .items{
        height: 64px;
        padding: 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        .item-01{
          width: 85.33px;
          height: 24px;
        }
      }
    }
  }
}

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .section-02 {
    height: 160px;
    .c-wrapper{
      margin: 0 auto;

      .items{
        height: 96px;
        padding: 32px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        .item-01{
          width: 21%;
          height: 36px;
        }
      }
    }
  }
}

@media all and (min-width: #{$mq-sm1 + "px"}) {
  .section-02 {
    height: 120px;
    .c-wrapper{
      margin: 0 auto;

      .items{
        height: 40px;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        .item-01{
          width: 150.07px;
          height: 40px;
        }
      }
    }
  }
}
